<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
    <head>
        <meta charset="UTF-8"/>
        <title>mounted page - spring-boot-example-wicket</title>
    </head>
    <body>
        <div><img src="/img/apache-wicket.png"/></div>
        <div><span wicket:id="title" class="title">[title]</span></div>
        <div><a wicket:id="link" class="link">homepage</a></div>
        <div><span wicket:id="serviceText">[serviceText]</span></div>
    </body>
</html>